h1{
    font-size:30px;
}
h2{
    font-size:16px;
    text-align: center;
}
.main-section{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid grey;
    width:400px;
}
.item{
    width:180;

}
input{
    display:block;
}
label{
    margin-top:8px;
}
.btn{
    margin-top:8px;
    margin-bottom:8px;
}
.hidden{
    display:none;
}
td, th {
border: solid 1px black;
} 
.amortization-table{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:400px;
}
.table-group{
    text-align: center;
}
